.header {
  width: 100%;
  background-color: #253347;
  padding: 20px;

  height: 80px;
  margin-bottom: 20px;
}
.header h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
