* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* table */

.table-section {
  width: 90%;
  margin: 40px auto;
  padding-top: 40px;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: rgb(222, 207, 223);
}

tr:nth-child(even) {
  background-color: rgb(244, 180, 141);
}
/* buttons */

.Ebtn {
  width: 60px;
  height: 45px;
  background-color: blue;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  margin: 0 10px;
}
.Dbtn {
  width: 60px;
  height: 45px;
  background-color: red;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  margin: 0 10px;
}
.Vbtn {
  width: 60px;
  height: 45px;
  background-color: green;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  margin: 0 10px;
}

.Adbtn {
  width: 100px;
  height: 45px;
  background-color: rgb(193, 48, 106);
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  margin: 0 10px;
}

/* add Section */

.Add-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

form input {
  width: 200px;
  height: 35px;
  border: none;
  background-color: #c0c0c0;
  padding: 5px;
  border-radius: 10px;
}
